<link rel="stylesheet" href="/css/chatbox.css">
<%if(locals.localuser) { %>
    <div id="chatbox-container">

        <div id="min-max-div">
            <p style="margin: 0px;">X</p>
        </div>

        <!-- <div id="ul-container"> -->
            <ul>
                <li class="not-my-message">
                    <p>ABCD</p>
                </li>
    
                <li class="my-message">
                    <p>EFGH</p>
                </li>
                <li class="not-my-message">
                    <p>ABCD</p>
                </li>
    
                <li class="my-message">
                    <p>EFGH</p>
                </li>
                <li class="not-my-message">
                    <p>ABCD</p>
                </li>
    
                <li class="my-message">
                    <p>EFGH</p>
                </li>
    
            </ul>

            <form action="" method="POST">
                <input type="text" name="new_message" required placeholder="Type here ..">
                <button type="submit">Send</button>
            </form>
        <!-- </div> -->
    </div>
<% } %>