<link rel="stylesheet" href="/css/chatbox.css">
<%if(locals.localuser) { %>
    <div id="chatbox-container">

        <div id="min-max-div">
            <p style="margin: 0px;">X</p>
        </div>

        <!-- <div id="ul-container"> -->
            <ul id="message-list">
                
                <!-- <li class="not-my-message">
                    <p> other-msg <span>Name</span></p>
                </li> -->
    
                <!-- <li class="my-message">
                    <p> my-msg <span>Name</span></p>
                </li> -->
               
                
    
            </ul>

            <form action="" method="POST">
                <input type="text" id="new-msg-input-box" name="new_message" required placeholder="Type here ..">
                <button type="submit" id="new-msg-send-btn">Send</button>
            </form>
        <!-- </div> -->
    </div>
<% } %>