<link rel="stylesheet" href="/css/forgot_password_page.css">
<div id="container">
    <h3>Get password recovery mail </h3>
    <form action="/users/forgot_password" method="POST">
        <input type="email" placeholder="Email" name="email" required>
        <button type="submit"> Get Mail</button>
    </form>
</div>