<div id="header-container">
    <div id="header-inner-container">
        <!-- <div id="header-contents"> -->
            <% if(locals.localuser) { %>

                <a href="/"><span>Home</span>  </a>
                <a href="/users/signout"> <span>Sign out</span>  </a>
                <a href="/users/profile/<%=locals.localuser._id%>" title="My profile">
                    <span id="go-to-profile-opt-con">
                        <div id="go-to-profile-opt">
                            <%= locals.localuser.name %> 
                        </div>
                        <div id="go-to-profile-opt">
                            <img src="https://image.flaticon.com/icons/svg/492/492572.svg" alt="profile-icon">
                        </div>
                    </span>  </a>
        
            <% } else { %>
        
                <a href="/users/signup"><span>Sign up</span>  </a>
                <a href="/users/signin"> <span>Sign in</span> </a>
        
            <% } %>

        <!-- </div> -->

    </div>
</div>