<link rel="stylesheet" href="/css/left-aside.css">

<aside id="left-aside">
    <h2>YOU SHOULD KNOW</h2>
    <div id="news-container">
        <!-- <img src="" alt="">
        
            <h3></h3>
        
        <p id="description"></p> -->
    </div>
</aside>
<script src="/JS/get_news.js"></script>