<link rel="stylesheet" href="/css/forgot_password_page.css">
<div id="container">
    <h3>Set New Password</h3>
    <form action="/users/reset-password/<%= token %>" method="POST">
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
        <button type="submit">Change Password</button>
    </form>
</div>