<aside id="right-aside">
    <ul>
        <%for(user of all_users) { %>
            <a href="/users/profile/<%=user._id%>" title="profile" ><p><%= user.name %></p></a>    
        <% } %>
    </ul>
</aside>