<link rel="stylesheet" href="/css/signup-signin.css">

<div id="signup-signin-container">
    <div id="signup-signin">
        <div>
            <a href="/" id="close-opt">
                <img src="https://image.flaticon.com/icons/svg/748/748122.svg" alt="close">
            </a> 
            <h2># Codeial ></h2>
        </div>

        <form action="/users/create" method="POST" >
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="name" placeholder="Name" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button type="submit">Sign up</button>
        </form>

    </div>
</div>