.post{
    padding:3px;
    border: 1px solid black;
    .name-delete-opt{
        display: flex;
        justify-content: space-between;
        p{
            width: 80%;
        }
        a{
            width: 10%;
            height: 15px;
            img{
                height: 100%;
                width: 100%;
                
            }
        }
    }
}