<div>
    <p>Hi<b><%=to.name%></b>,</p>
    <br>
    <p>You have a new Friend request from <b><%=from.name%></b>!</p>
    <button><a href="http://localhost:8000/friendship/accept/<%=from.id%>,<%=to.id%>">Accept Request</a></button>
    <p>Thanks!</p>
    
</div>